.meeting-wrapper {
    padding: 40px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.video-card {
    width: 400px;
    height: 370px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    text-align: center;
}

.modal-wrapper {
    text-align: center;

    button {
        width: 150px;
    }
}