.header {
    padding: 0;
    background-color: #52575c;
    color: white;
    padding: 8px 20px;
    margin: 0;
}

.start-view {
    width: 700px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;

    .start-btn {
        width: 150px;
    }
}

.meeting-wrapper {
    padding: 40px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .sharing-video {
        width: 700px;
        height: 600px;
        background-color: #cccccc;
        margin: 20px 0;
    }
}

