.header {
    line-height: 56px;
    padding: 0 20px;
}

.start-view {
    width: 700px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;

    .start-btn {
        width: 200px;
    }
}

.meeting-wrapper {
    padding: 40px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .sharing-video {
        width: 850px;
        height: 550px;
        background-color: #cccccc;
        margin: 20px 0;
    }
}

