.action-bar-container{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:72px;
    background: #1a1a1a;
    display:flex;
    align-items: center;
    justify-content: center;
}