{
    "printWidth": 100,
    "tabWidth": 4,
    "tabs": false,
    "semicolons": true,
    "trailingComma": "es5",
    "singleQuote": true,
    "jsxSingleQuote": true,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "bracketSameLine": true
}
