.meeting-action-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .left-action-group {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 20px;
        .left-action-button {
            width: 40px;
            height: 40px;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            &:hover {
                background: rgb(54, 53, 53);
            }
        }
    }
    .action-group {
        display: flex;
        .action-button {
            width: 70px;
            height: 70px;
            color: #fff;
            padding: 15px 0;
            text-align: center;
            position: relative;
            cursor: pointer;
            &:hover {
                background: rgb(54, 53, 53);
            }
        }
        .action-button-more {
            position: absolute;
            right: 5px;
            top: 10px;
            color: #ddd;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                background: #1a1a1a;
                color: #fff;
            }
            &.checked {
                background: #039fd8;
                color: #fff;
            }
        }
        .action-bar-pop-menu {
            position: absolute;
            background: #fff;
            bottom: 70px;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 10px;
            z-index: 10;
            padding: 10px 0;
            ul li {
                list-style: none;
                padding: 5px 10px 5px 30px;
                font-size: 12px;
                color: #333;
                text-align: left;
                white-space: nowrap;
                &:hover {
                    background: #eee;
                }
            }
            &-item {
                position: relative;
                .checked {
                    position: absolute;
                    color: #039fd8;
                    left: 10px;
                    top: 6px;
                }
            }
            &:before {
                content: '';
                position: absolute;
                bottom: -10px;
                width: 0;
                height: 0;
                border: 5px solid transparent;
                border-top: 5px solid #fff;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        .action-text {
            font-size: 12px;
            transform: scale(0.8);
        }
    }
}
