.speakers-container{
    position: absolute;
    top: 0;
    height: calc(100% - 72px);
    left: 0;
    right: 0;
    box-sizing: border-box;
    width: 100%;
    padding-top: 24px;
    padding-left: calc(1.5% + 13px);
    padding-right: calc(1.5% + 13px);
    padding-bottom: 16px;
    .gallery-wrapper{
        height:100%;
        width:100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
}